*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    outline: none;
}

header {
    height: 300px;
    background-color: cornflowerblue;
    padding: 2rem;
}

.form-contact {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    row-gap: 1rem;
    font-size: 1.3rem;
}

.fild {
    display: flex;
    flex-direction: column;
}

.fild input {
    padding: 5px 12px;
    border-radius: 6px;
    border: none;
}

.button {
    border: none;
    background-color: #6b6b77;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 1.2rem;
}
.button:hover {
    background-color: #50505a;
}
.button:active {
    background-color: #71717c;
}

main {
    width: 600px;
    margin: 2rem auto;
}

.contacts-list {
}

li {
    list-style: none;
    height: 50px;
    background-color: #717070;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 13px 12px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete {
    background-color: #e63a3a;
    width: 1.7rem;
    height: 1.7rem;
    padding: .4rem;
    border-radius: 4px;
    user-select: none;
}

.delete:hover {
    cursor: pointer;
    background-color: #981b1b;
}
.delete:active {
    cursor: pointer;
    background-color: #ca2525;
}

.add {
    display: block;
    position: absolute;
    right: 1rem;
    top: 20rem;
    background-color: #13bf13;
    color: white;
    font-size: 1.1rem;
    width: 340px;
    text-align: center;
    padding: 5px 12px;
    border-radius: 4px;
    animation: add 1s forwards;
}

@keyframes add {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.noadd {
    display: none;
}

.error {
    display: block;
    position: absolute;
    right: 1rem;
    top: 20rem;
    background-color: #c81b1b;
    color: white;
    font-size: 1.1rem;
    width: 340px;
    text-align: center;
    padding: 5px 12px;
    border-radius: 4px;
    animation: error 1s forwards;
}

@keyframes error {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.noerror {
    display: none;
}


.dublic {
    display: block;
    position: absolute;
    right: 1rem;
    top: 20rem;
    background-color: #c81b1b;
    color: white;
    font-size: 1.1rem;
    width: 340px;
    text-align: center;
    padding: 5px 12px;
    border-radius: 4px;
    animation: dublic 1s forwards;
}

@keyframes dublic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nodublic {
    display: none;
}